body{
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 0;
  
    height: 100%;
    background-color: #f0f0f0;
}
.add{
    display:flex;
    margin: 0%;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}
.address{
    margin:0px;
    gap:5px;
}
.barcode-section {
    margin-top: 2%;
}
h1 {
    font-size:45px;
    margin-top: 0%;

}
.to-details{
    top:0%;
    margin-bottom: 20px;
}
.from-details{
    margin-top: 50px;
}

