body{
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 0;
  
    height: 100%;
    background-color: #f0f0f0;
}
.add{
    display:flex;
    margin: 0%;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}
.address{
    margin:0px;
    gap:5px;
}
.barcode-section {
    margin-top: 2%;
}
