<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forgot Password</title>
</head>
<body>
    <!--{% for message in messages %}-->
        <div><!--{{ message }}--></div>
    <!--{% endfor %}-->
    <h1 style="color:red">Forgot Password</h1>
    <p style="font-size: large;">Please enter your email address to get reset link:</p>

<form method="post">
   <!--- {% csrf_token %}-->
    <input type="email" name="email" placeholder="Enter your email" style="width: 70%; height:20px;">
    <button type="submit" style="font-size: large;background-color:grey;padding-left: 2%;padding-right: 2%;color: white;" >Reset Password</button>
</form>

</body>
</html>
