<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css">
    <title>Login Page</title>
</head>
<body>
    <div class="logo1">
        <img src="indiapostlogo.png">
    </div>
    <div class="login">
        <h1>Login</h1>
 <!-- {% for message in messages %}--> 
        <div><!--{{ message }}--> </div>
   <!-- {% endfor %}-->
    <form action=" " method="post" autocomplete="on">
        <!--{% csrf_token %}-->
        <div class="email">
            <label for="username">Email:</label>
            <input type="email" id="username" name="username" required>
        </div>
        <div class="password">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </div>
    </form>
    <div class="forgot">
    <div class="fgt">

    <p><a href="/forgot-password">Forgot Password</a></p></div>
    <div class="register"><p><a href="/register">register here</a></p></div>
    </div>
</body>
</html>
