{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include necessary CSS and JavaScript files -->
    <link rel="stylesheet" href="{% static 'user/print.css'%}">
</head>
<body>
    <div id="pdf-content" class="shipping-details">
    <!-- Shipping details form -->
    <div class="shipping-details">
        <h1>Shipping Details</h1>
        <!-- Render user data in the form -->
        <fieldset class="box1">
            <div class="to-details">
            
                <h1>To</h1>
                <p>Name: {{ to_data.Name }}</p>
                <div class="add"><p class="address">House/Building No:{{to_data.HouseNumber}} ,</p>
                <p class="address">Street/Road No: {{to_data.Street }},</p>
                <p class="address">City/Town: {{ to_data.City }},</p>
                <p class="address">District:{{ to_data.District }},</p>
                <p class="address">Pin Code:{{ to_data.Pincode }}</p></div>
                <p>State:{{ to_data.State}}</p>
                <p>Country:{{ to_data.Country}}</p>
                <p>Phone Number: {{ to_data.PhoneNumber }}</p>
                
              
            </div>
        <div class="from-details">
            
            <h3>From</h3>
            <p>Name: {{ to_data.full_name }}</p>
            <div class="add"><p class="address">House/Building No: {{ user_data.house_number }},</p>
            <p class="address">Street/Road No: {{user_data.street }},</p>
            <p class="address">City/Town: {{ user_data.city }},</p>
            <p class="address">District:{{ user_data.district }},</p>
            <p class="address">Pin Code:{{ user_data.pincode }}</p></div>
            <p>State:{{ user_data.state}}</p>
            <p>Country:{{ user_data.country}}</p>
            <p>Phone Number:{{ user_data.phone_number}}</p>
            <p>Bill Id:{{ user_data.bill_id}}</p>
           
        </div>
        <!-- TO details form fields -->
       
        <div class="barcode-section">
            <svg id="barcode"></svg>
        </div>
    </div>
</div>
</fieldset>

<button onclick="generatePDF()">Generate PDF</button>

<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        generateBarcode();
    });

    function generateBarcode() {
        const barcodeNo = "{{ to_data.barcode }}";

        JsBarcode("#barcode", barcodeNo, {
            format: "CODE128",
            width: 1.40,
            height: 35,
            displayValue: true
        });
    }

    function generatePDF() {
        const button = document.querySelector('button');
        button.style.display = 'none';

        const content = document.getElementById('pdf-content');
        html2pdf(content)
            .then(() => {
                button.style.display = 'block';
            });
    }
    
</script>
</body>
</html>
