{% load static %}
<form method="post">
    {% csrf_token %}
    {% for message in messages %}
        <div class="alert-message {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
    <h1>Reset Your Password</h1>
    <div>
            <label for="password"><b>Password:</b>(only strong or very strong passwords allowed)</label>
            <br>
            <input type="password" id="password1" name="new_password" class="input" required >
        </div>
        <div class="password-strength">
        <p>password strength:</p>
        <p id="password-strength-text">none</p>
        </div>
        <meter id="password-strength-meter" min="0" max="4" low="2" high="3" optimum="4"></meter>
        <div>
            <label for="password1"><b>Re-enter Password:</b></label>
            <br>
            <input type="password" id="password2" name="new_password1"  class="input" required >
        </div>
        
    <button type="submit">Reset Password</button>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"> </script>
<script src="{% static 'user/script.js'%}"></script>
