asgiref
certifi
charset-normalizer
distlib
dj-database-url
Django
docker
filelock
idna
odict
optional-django
packaging
platformdirs
plumber
psycopg
psycopg2-binary
requests
setuptools
sqlparse
typing_extensions
urllib3
virtualenv