<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="invoice.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shipping Details</title>
    <!-- Include JsBarcode library -->
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
</head>
<body>

    <div class="navbar">
        <div class="logo1">
               <img src="indiapostlogo.png " style="height: 100px;width: auto;">
        </div>
       <div class="logo_1">
           <img src="logo.jpg" alt="national_emblem" style="height: 80px;width: 113px;">
   
       </div>
       <div class="logo_2">
           <img src="G20.png" alt="national_emblem" style="height: 80px;width: 113px;">
   
       </div>
       </div>
       <div class="navbar2">
        <p style="margin-right: 20px; font-size: large;"><a href="#"> register here</a></p>
        <p style="font-size: large;"><a href="#"> login here</a></p>

       </div>
   <!-- {% block content %}-->
    <!--{% if user_data %}-->
    <div class="main">
    <h1>Shipping Details</h1>
    <form>
        <div class="box1">
        <fieldset class="box1">
            <legend>From</legend>
            <div class="info">
                <label for="fromName">Name:</label>
                <input type="text" id="fromName" name="fromName" value="{{user_data.full_name}}" readonly style="width: 70%; height:20px;" >
            </div>
            <div class="info">
                <label for="fromEmail">Email:</label>
                <input type="email" id="fromEmail" name="fromEmail" value="{{email}}" readonly style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="fromPhone">Phone Number:</label>
                <input type="number" id="fromPhone" name="fromPhone" value="{{user_data.phone_number}}" readonly style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="fromHouseNo">House/Building No:</label>
                <input type="text" id="fromHouseNo" name="fromHouseNo" value="{{user_data.house_number}}" readonly style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="fromStreet">Street/Road No:</label>
                <input type="text" id="fromStreet" name="fromStreet" value="{{user_data.street}}" readonly style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="fromCity">City/Town:</label>
                <input type="text" id="fromCity" name="fromCity" value="{{user_data.city}}" readonly style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="fromDistrict">District:</label>
                <input type="text" id="fromDistrict" name="fromDistrict" value="{{user_data.district}}" readonly style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="fromPincode">Pin Code:</label>
                <input type="number" id="fromPincode" name="fromPincode" value="{{user_data.pincode}}" readonly style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="fromState">State:</label>
                <input type="text" id="fromState" name="fromState" value="{{user_data.state}}" readonly style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="fromcountry">Country:</label>
                <input type="text" id="fromcountry" name="fromcountry" value="{{user_data.country}}" readonly style="width: 70%; height:20px;">
            </div>
        </fieldset>
    </div>
      
       <!-- {%else%}-->
          
        <!--{%endif%}-->
        <!--{% endblock content %}-->
        <div class="box2">
        <fieldset>
            <legend>To</legend>
            <div class="info">
                <label for="toName">Name:</label>
                <input type="text" id="toName" name="toName" required style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="toEmail">Email:</label>
                <input type="email" id="toEmail" name="toEmail" required style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="toPhone">Phone Number:</label>
                <input type="number" id="toPhone" name="toPhone" required style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="toHouseNo">House/Building No:</label>
                <input type="text" id="toHouseNo" name="toHouseNo" required style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="toStreet">Street/Road No:</label>
                <input type="text" id="toStreet" name="toStreet" required style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="toCity">City/Town:</label>
                <input type="text" id="toCity" name="toCity" required style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="toDistrict">District:</label>
                <input type="text" id="toDistrict" name="toDistrict" required style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="toPincode">Pin Code:</label>
                <input type="number" id="toPincode" name="toPincode" required style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="toState">State:</label>
                <input type="text" id="toState" name="toState" required style="width: 70%; height:20px;">
            </div>
            <div class="info">
                <label for="toCountry">Country:</label>
                <input type="text" id="toCountry" name="toCountry" required style="width: 70%; height:20px;">
            </div>
        </fieldset></div>
        <div class="barcode">
        <div>
            <label for="barcodeNo">Barcode Number:</label>
            <input type="text" id="barcodeNo" name="barcodeNo" required style="width: 70%; height:20px;">
            <button type="button" onclick="generateBarcode()" style="font-size: large;background-color: rgb(87, 86, 86)
            ;padding-left: 2%;padding-right: 2%;color: white;margin-top: 2%;margin-left: 70%;">Generate Barcode</button>
        </div>
        <div>
            <svg id="barcode"></svg>
        </div> 
    </div>
    <div class="but">
        <button type="submit" style="font-size: large;background-color: rgb(179, 3, 3);padding-top: 1%;padding-bottom: 1%;padding-left: 2%;padding-right: 2%;color: white;margin-left: 45%;
        ">Submit</button>
    </div>
    </form>
</div>
    <script>
        function generateBarcode() {
            const barcodeNo = document.getElementById('barcodeNo').value;
            JsBarcode("#barcode", barcodeNo, {
                format: "CODE39",
                width: 2,
                height: 50,
                displayValue: true
            });
        }
    </script>
</body>
</html>
