body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  
    height: 100%;
    background-color: #f0f0f0;
}
.navbar{
    height:20%;
    width:auto;
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
    display :flex;
    padding: 5px;
}
.logo1{
 margin-right: 65%;
}

.logo_2{
margin-left: 5%;
}
.navbar2{
    margin-left:82%;
    display:flex;
    padding :2%;
}
a:hover{
    background-color:rgb(238, 111, 111);
}
a{
    text-decoration: none;
    color:black;
    size: large;
}
.main{
    
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
.box1{

 margin-bottom: 10%;
 margin-left: 2%;
 margin-right: 2%;
 font-size: x-large;
}
.box2{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 4%;
    margin-right: 2%;
    font-size: x-large;
}
.barcode{
    margin-top: 10%;
    
    
    margin-left: 4%;
    margin-right: 2%;
    font-size: x-large;

}
.info{
    margin-bottom: 1%;
}